.objectSelectorList {
    position: relative;
        left: -35px;
        top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    padding: 0px;
        margin: 10px 0px 0px 0px;
        max-width: 450px;
        overflow: hidden;
}

.objectSelectorList ul {
    padding: 0px;
    margin: 0px;

}

.text {
    font-size: 18px;
    font-family: Arial;


}

.selectorButton {
    
    border: 1px solid #2b2a2a;
    background-color: black;
    color: white;
    padding: 10px;
    width: 73px;
    
        border-radius: 6px 4px 0px 0px;
    -webkit-border-radius: 11px 12px 0px 0px;
    -moz-border-radius: 11px 12px 0px 0px;
}

.selectorButton:hover {
    transition: 300ms;
    background-color: #242323;
    text-decoration: underline;
    border: 2px cyan solid;
}

.selectorButton:active {

    background-color: black;
    text-decoration: bold;
}

.selectorButton:focus {
    background-color: #242323;

}