@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.projectContainer {
    width: 450px;
}

.projectImage {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    max-height: 450px;
    max-width: 300px; 
    border: solid 1px rgb(0, 13, 111);
    box-shadow: 3px 6px 9px 0px rgba(0,0,0,0.75)
}

.projButtons {
    margin: 10px;
}
.custom-btn {
    background: #1c4dee;
    color: white;
    font-size: larger;
    border: 2px solid #93dcf7;
    border-radius: 3px;
    padding: 5px 10px;
}
.custom-btn:hover{
    background: #3360f1;
}

.card {
    background-color: #63cdf4;
    padding: 5px;
    margin: 10px;
    max-width: 90vw;
    min-width: 400px;
    border: none;
    font-size: large;
    box-shadow: 3px 6px 9px 0px rgba(0,0,0,0.75);
    font-family: 'Share Tech Mono', monospace;
 }

 .description {
    height: 6rem;
    font-family: 'Share Tech Mono', monospace;
 }

.secondCard {
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    height: auto;
    background-color: red;
}

.secondCard {
    margin-top: 10px;
    align-items: center;
    justify-content: center;

}