.App {
  text-align: center;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
  margin-top: 60px;
}
a {
  color: white;
  text-decoration: none;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  justify-content:center;
}

#project{
  border: 5px solid #93dcf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
}
ul {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
 
  color: #93dcf7;
  list-style-type: none;
  font-family: 'Share Tech Mono', monospace;
}
.about p, li{
  font-size: 20px;
  color: #93dcf7;
  font-family: 'Share Tech Mono', monospace;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 450px;

}

.about {
 border: 5px solid #93dcf7;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
  padding:10px;
 
}
.contact {
  border: 5px solid #93dcf7;
  
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Share Tech Mono', monospace;
   padding:20px;
  
 }
 .contact p, a{
  font-size: 20px;
  color: #93dcf7;
  font-family: 'Share Tech Mono', monospace;
 }
 .contactImage {
  height:150px;
  min-width: 350px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 50px;
 }
.header-title  {
  text-align: center;
  font-size: 50px;
  color: #93dcf7;
  font-weight: bolder;
  text-decoration:underline;
  margin-top: 60px;
  opacity: 1;
  font-family: 'Share Tech Mono', monospace;
  z-index: 1;
}
.gitlogo {
  width: 40px;
  fill: #93dcf7;
margin-bottom: 50px;

}

.bold-li {
  font-size: 40px;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 20px;
}
.resume span {


  display: none;


}.resume{
  height: fit-content;
  width: fit-content;
}




