.App {
  text-align: center;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

a {
  color: white;
  text-decoration: none;
}


.Projects {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content:center;
}
span {

  background-color: black;
  padding: 10px;
}
h2:before {
  content: "";
  display: block;
 width:50%;
  height: 2px;
  background: #93f7e0;
  position: absolute;
  right:10px;
  top:52%;
z-index: -2;
}
h2:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background:  #93f7e0;
  position: absolute;
  left: 10px;
  top: 52%;
  z-index: -2;
}
.header-title  {
  background-color: black;
  position: relative;
  padding: 5px;
  display: block;
  text-align: center;
  margin-top: 10px;
    font-size: 60px;
    color: #93f7e0;
    font-weight: bolder;
    padding: 10px;
    opacity: 1;
    font-family: 'Share Tech Mono', monospace;
    z-index: 1;
}

ul {
  color: #93f7e0;
  list-style-type: none;
  font-family: 'Share Tech Mono', monospace;
}
.about p {
  font-size: 40px;
  color: #93f7e0;
  font-family: 'Share Tech Mono', monospace;
}

.about {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 50px;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
 
}
.gitlogo {
  width: 40px;
  fill: #93f7e0;

}

.bold-li {
  margin-top: 20px;
  font-size: 40px;
  font-family: 'Share Tech Mono', monospace;
}



