.app {
  text-align: center;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
  margin-top: 55px;
}
/* body * {
  border: 1px red solid;
} */
a {
  color: white;
  text-decoration: none;
}
.headertop {
padding: 0px;
  margin: 0px;
  border: 5px solid #93dcf7;
    border-bottom: 0px;
    height: 20vh;
    object-fit: cover;
  }
.projectCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  justify-content:center;
}

#project {
  border: 5px solid #93dcf7;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
}


.about {
 border: 5px solid #93dcf7;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
  padding:10px;
 
}
.about-lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 30px;
}
.about-lists ul {
  padding: 10px;
  margin-right: 2rem;
  color: #93dcf7;
  list-style-type: none;
  font-family: 'Share Tech Mono', monospace;
  border: 1px solid #93dcf7;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.skills {
  margin: 0px;
  padding: 0px;
  text-align: left;
  
}
.about p,

li {
 text-align: left;
 padding: 0px;
 margin: 0px;
}
.textSkillz {
  text-align: left !important;
  color: red;
}
lh  {

  font-size: 32px;
}
.contact {
  border: 5px solid #93dcf7;
  border-top: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Share Tech Mono', monospace;
   padding:20px;
  
 }
 .contact p, a{
  font-size: 20px;
  color: #93dcf7;
  font-family: 'Share Tech Mono', monospace;
 }
 .contactImage {
  height:150px;
  min-width: 350px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 50px;
 }
.header-title  {
  text-align: center;
  font-size: 50px;
  color: #93dcf7;
  font-weight: bolder;
  text-decoration:underline;
  margin-top: 60px;
  opacity: 1;
  font-family: 'Share Tech Mono', monospace;
  z-index: 1;
}
.gitlogo {
  width: 40px;
  fill: #93dcf7;
margin-bottom: 50px;

}

.bold-li {
  font-size: 40px;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 20px;
}
.resume span {


  display: none;


}.resume{
  height: fit-content;
  width: fit-content;
}


.neonText a {
  color: rgb(255, 255, 255);
  font-size: 2em;
    animation: pulsate 0.7s ease-in-out infinite alternate;   
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 20px rgb(0, 162, 255),
      0 0 40px rgb(0, 162, 255),
      0 0 45px rgb(0, 162, 255);
    
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 5px #fff,
      0 0 9px #fff,
      0 0 10px #f09,
      0 0 20px #f09,
      0 0 40px #f09,
      0 0 45px #f09;
      
  }
}




