.projectImage {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 275px;
 
    
}

.projButtons {
    margin: 10px;
}

.card {
    background-color: rgb(151, 191, 202);
    padding: 5px;
    margin: 5px;
    max-width: 50%;
    min-width: 400px;
 
    border: none;
 }